
#info
{
    border: 0px solid black;
    background-color: rgb(58, 49, 49);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name
{
    border: 0px solid black;
    padding-left: 100px;
    margin-right: 600px;
    padding-top: 10px;
    
}
#prof
{
    border: 0px solid black;
    padding-left: 100px;
    margin-right: 600px;
    
}
#about
{
    border: 0px solid black;
    padding-left: 100px;
    margin-right: 600px;
    
}
 #image
{
    border: 0px solid black;
    height: 150px;
    width: 150px;
    float: right;
    
    
    
    
} 

#contactme
{
    margin-top: 50px;
    background-color: rgba(126, 108, 108, 0.719);
}

#mail
{
    border: 0px solid black;
    padding-left: 100px;
    margin-right: 600px;
    
}
#address
{
    border: 0px solid black;
    padding-left: 100px;
    margin-right: 600px;
    
}
#linkedin
{
    border: 0px solid black;
    padding-left: 100px;
    margin-right: 600px;
    
}
#phone
{
    border: 0px solid black;
    padding-left: 100px;
    margin-right: 600px;
    margin-top: 10px;
    
}
#github
{
    border: 0px solid black;
    padding-left: 100px;
    margin-right: 600px;
    margin-top: 10px;
    
}
#bod
{
    border: 1px solid gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#edu
{
    padding-left: 100px;
    margin-right: 500px;
    margin-top: 10px;
    border: 0px solid black;

}
#skills
{
    padding-left: 100px;
    margin-right: 500px;
    margin-top: 10px;
    border: 0px solid black;

}
#prsnlproj
{
    
    padding-left: 100px;
    margin-right: 500px;
    margin-top: 10px;
}
#hobbies
{
    padding-left: 100px;
    margin-right: 500px;
    margin-top: 10px;
}
#lang
{
    padding-left: 100px;
    margin-right: 500px;
    margin-top: 10px;
}